@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #0e1326;
  color: #e0e0e0; /* Light gray text for contrast */
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease-in-out;
}